.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    font-family: "Arial", sans-serif;
}

.login-form {
    padding: 40px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
}

.input-group input:focus {
    outline: none;
    border-color: #7a77e3;
    box-shadow: 0 0 5px rgba(122, 119, 227, 0.5);
}

.input-group input::placeholder {
    color: #bbb;
}

.input-group select {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
}

.input-group select:focus {
    outline: none;
    border-color: #7a77e3;
    box-shadow: 0 0 5px rgba(122, 119, 227, 0.5);
}

.input-group select::placeholder {
    color: #bbb;
}



button.login-button[type="submit"] {
    width: 100%;
    padding: 10px 15px;
    background-color: #6e8efb;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button.login-button[type="submit"]:hover {
    background-color: #5a7be3;
}

button.login-button[type="submit"]:focus {
    outline: none;
}

.error-message {
    color: #d9534f;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    height: 20px;
}
